///////////////////////////////////////////////////////
// Default gotham variables - overriding ark
///////////////////////////////////////////////////////

/////////////////////////////////////////
// responsive
/////////////////////////////////////////

// breakpoints
$bp-names: lap desk;
$bp-sizes: 768px 1024px;

/////////////////////////////////////////
// layout
/////////////////////////////////////////

// global site layout
$site-width: 1180px;
$global-box-sizing: true;

// push & pull
$use-push: false;
$use-pull: false;

// vertical spacing rhythm
$base-spacing-unit: 24px;

// sticky footer
$use-sticky-footer: true;
$footer-height: 200px;

/////////////////////////////////////////
// typography
/////////////////////////////////////////

// base sizes
$base-font-size: 16px;
$base-line-height: 24px;

// headings
$h1-size: 42px;
$h2-size: 38px;
$h3-size: 32px;
$h4-size: 28px;
$h5-size: 24px;
$h6-size: 20px;

// font weights
$weight-light: 300;
$weight-normal: 400;
$weight-semibold: 600;

/////////////////////////////////////////
// ark objects
/////////////////////////////////////////

$use-media: false;
$use-flag: false;
$use-flex: false;
$use-mast: false;