///////////////////////////////////////////////////////
// Default ark variable
///////////////////////////////////////////////////////

///////////////////////////////
// normalize
///////////////////////////////

$use-normalize: true;

///////////////////////////////
// responsive variables
///////////////////////////////

// breakpoints
$bp-names: lap desk;
$bp-sizes: 768px 1024px;

// push & pull
$use-push: true;
$use-pull: true;

///////////////////////////////
// layout variables
///////////////////////////////

// global site layout
$site-width: 1180px;
$use-shared: true;

// ark sticky footer
$use-sticky-footer: false;
$footer-height: 150px;

///////////////////////////////
// typography & vertical rhythm
///////////////////////////////

// base size and line height
$font-size-base: 16px;
$line-height-base: 24px;

// headings
$h1-size: 36px;
$h2-size: 30px;
$h3-size: 24px;
$h4-size: 20px;
$h5-size: $font-size-base;
$h6-size: 12px;

// font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;

// font families
$font-family-serif: Georgia, serif;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$font-family-base: $font-family-sans-serif;

// vertical rhythm
$spacing-unit-base: $line-height-base;

/////////////////////////////////////////
// turn objects off by default
/////////////////////////////////////////

$use-media: false;
$use-flag: false;
$use-flex: false;
$use-mast: false;

///////////////////////////////
// ui colors
///////////////////////////////

$msg-status-bg: #42bd41;
$msg-status-border: #259b24;

$msg-error-bg: #f36c60;
$msg-error-border: #e51c23;

$msg-warning-bg: #fff59d;
$msg-warning-border: #ffeb3b;