//
// @file
// Sass table of contents
//

///
// If you want to use compass in your theme, install the gem
// and comment out the line below.
///

// @import "compass";

// Vendor
// Susy: http://susydocs.oddbird.net/en/latest/
// Sass mq: http://sass-mq.github.io/sass-mq/
@import 
  "../bower_components/susy/sass/susy",
  "../bower_components/sass-mq/mq",
  "../bower_components/google-material-color/dist/palette"
; 

// Theme variables
@import "base/vars";

// Base
@import 
  "base/functions",
  "base/mixins",
  "base/fonts",
  "base/normalize",
  "base/elements",
  "base/typography",
  "base/helpers"
;

// Layout
@import 
  "layout/global",
  "layout/header",
  "layout/nav",
  "layout/content",
  "layout/footer"
;

// Components
@import 
  "components/layouts",
  "components/tabs",
  "components/messages",
  "components/icons",
  "components/forms",
  "components/buttons"
;

// Pages
@import
  "pages/front"
;
