/* ==========================================================================
   Sass table of contents
   ========================================================================== */

/**
 * if you want to use compass in your theme, comment out the line below
 */

// @import "compass";

/**
 * import custom Sass variables. You can adjust this file to alter the 
 * output of the default Sass
 */
@import "base/vars";

/**
 * susy grids
 *
 * we're manually importing susy grids, which is the default grid
 * framework for the theme.
 * @TODO link to susy docs
 */
@import "base/susy/language/susy"; 

/* base styles */
@import "base/mixins";
@import "base/normalize";
@import "base/elements";
@import "base/typography";
@import "base/helpers";

/* layout styles */
@import "layout/global";
@import "layout/nav";

/* component styles */
@import "components/tabs";
@import "components/messages";