/////////////////////////////////////////////////////////////////////
// layout partial
/////////////////////////////////////////////////////////////////////

/////////////////////////////////////////
// site container
/////////////////////////////////////////

.container {
	max-width: $site-width;
	width: 90%;
	margin: auto;
}
	