//////////////////////////////////////////////////////////////////
// drupal messages
//////////////////////////////////////////////////////////////////

.messages {
	@extend %margin--bottom;
	padding: $sub;
	border: 0 solid #ccc;
	border-width: 3px;
	border-radius: 3px;
	color: #fff;

	&.error {
		background-color: $msg-error-bg;
		border-color: $msg-error-border;
	}
	&.status {
		background-color: $msg-status-bg;
		border-color: $msg-status-border;
	}
	&.warning {
		background-color: $msg-warning-bg;
		border-color: $msg-warning-border;
		color: #616161;
	}
	
}