//
// @file
// Icon styles
//

/**
 * Icon styles
 * We're using a SVG icon system
 * 
 * 1. Set default width & height
 * 2. Set default vertical align to fix spacing
 */

// config
$icon-width: 24px; /* 1 */
$icon-height: 24px; /* 1 */

.icon {
  width: $icon-width;
  height: $icon-height;
  vertical-align: top; /* 2 */
} 