/**
 * @file
 * Drupal Messages
 *
 * Styling of default drupal messages.
 *
 * @TODO rework names w/ preprocess function
 */

/**
 * Config
 */
$msg-status-bg: #42bd41;
$msg-status-border: #259b24;

$msg-error-bg: #f36c60;
$msg-error-border: #e51c23;

$msg-warning-bg: #fff59d;
$msg-warning-border: #ffeb3b; 



/**
 * Message Styles
 */
.messages {
	@include vr;
	// Box model
	padding: spacing-unit();
	// Presentation
	border: 0 solid #ccc;
	border-width: 3px;
	border-radius: 3px;
	color: #fff;

	&.error {
		background-color: $msg-error-bg;
		border-color: $msg-error-border;
	}
	&.status {
		background-color: $msg-status-bg;
		border-color: $msg-status-border;
	}
	&.warning {
		background-color: $msg-warning-bg;
		border-color: $msg-warning-border;
		color: #616161;
	}
}