//
// @file
// Drupal tabs
//
// Styling of default drupal tabs.
//

.tabs { // the class on the ul
  padding: 0 spacing-unit(1/2);
	border-bottom: 1px solid #ccc;
	
	li {
    border: 0 solid #ccc;
    border-width: 1px 1px 0;
    border-radius: 3px 3px 0 0;

    @include mq(lap) { 
      display: inline-block; 
    }
  }

  a {
    display: block;
    padding: spacing-unit(1/4) spacing-unit(1/2);

    &.active { background: #eee;}
    &:hover  { background-color: #ccc; }
  }
}