//
// @file
// Base element styles
//

/**
 * Box Sizing FTW
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*, *:after, *:before { box-sizing: border-box; }

/**
 * Mini Reset
 *
 * This reset removes top margins, and adds a bottom of the base spacing
 * unit. This creates a shared vertical rhythm. Adjust as needed.
 */
h1,h2,h3,h4,h5,h6,p,ol,ul {
  @include vr;
  margin-top: 0;
}    


/* Html and Body */
html, body {
  height: 100%;
}

body {
	font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $line-height-ratio;
}


/* Links */
a {
  color: color(primary);
	text-decoration: none;
  transition: .2s ease background-color;

	&:hover {
		text-decoration: underline;
	}
}

/**
 * Lists 
 * Neuter lists globally, and re-apply styles to body area if needed.
 * This keeps menus clean
 */
ol, ul {
  padding: 0;
  list-style: none;
}


/**
 * 
 * Media 
 */

/* Images */  
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Forms
 */

/* Base form */
form {
  @include clearfix;

  .site-main & {
    @include vr;
  }
}

/* Base inputs */
input,
button,
textarea {
  max-width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 5px;
  border: 1px solid palette(Grey, 300);
}