/* ==========================================================================
   Element styles
   ========================================================================== */

/* box sizing ftw */
*, *:after, *:before { box-sizing: border-box; }

/**
 * mini reset
 *
 * this reset removes top margins, and adds a bottom of the base spacing
 * unit. this creates a shared vertical rhythm. adjust as needed.
 */
h1,h2,h3,h4,h5,h6,p,ol,ul {
  @include vr;
  margin-top: 0;
}    

/* html and body */
body {
	font-family: $font-family-serif;
  font-size: $font-size-base;
  line-height: $line-height-ratio;
}

/* links */
a {
	text-decoration: none;
  transition: .2s ease background-color;

	&:hover {
		text-decoration: underline;
	}
}

/**
 * lists 
 * neuter lists globally, and re-apply styles to body area if needed.
 * this keeps menus clean
 */
ol, ul {
  padding: 0;
  list-style: none;
}

/* media */
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}