/* ==========================================================================
   Placeholders & helper classes
   ========================================================================== */

/**
 * visually hidden
 *
 * invisible from screen but visible to screen readers
 */
%visuallyhidden {
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	position: absolute;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

/**
 * drupal uses element-invisible
 */
.element-invisible,
%element-invisible { @extend %visuallyhidden; }

/**
 * clearfix
 */
.clearfix {
	@include clearfix;
} 