//
// @file
// Theme mixins
//


/// Spit out 'rem' and 'px' font size in one go
///
/// @access public
///
/// @param {int} $size [$base-font-size] - Size of font being passed in
@mixin font-size($size: $base-font-size) {
  font-size: $size;
  font-size: $size / $base-font-size * 1rem;
}


/// Apply hover & focus at same time.
///
/// @access public
///
/// @param {boolean} $active [false] - Whether or not to apply styles to '.active'
@mixin hover($active: false) {
  @if($active == true) {
    &:hover,
    &:focus,
    &.active {
      @content;
    }
  } @else {
    &:hover,
    &:focus {
      @content;
    }
  }
}


/// Set bottom margin based on spacing unit
///
/// @access public
///
/// @param {int} $mult [1] - Integer to multiply base spacing unit by
///
/// @example scss
///   .block {
///     @include vr;
///   }
///
///   .block-2 {
///     @include vr(2);
///   }
@mixin vr($mult: 1) {
  margin-bottom: $mult * $base-spacing-unit;
}



/// Applies micro clearfix to elements
///
/// @access public
///
/// @example scss
///   .block {
///     @include clearfix;
///   }
@mixin clearfix() {
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
} 


/// Invisible from screen but visible to screen readers
///
/// @access public
@mixin visuallyhidden() {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  position: absolute !important;
  overflow: hidden !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
}



/// Style placeholder text in one swoop
///
/// @access public
///
/// @content [Placeholder styles]
@mixin placeholder() {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder { /* Firefox 18- */
    @content;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }
  :-ms-input-placeholder {  
    @content;
  }
}