//
// @file
// Theme mixins
//

/// Spit out 'rem' and 'px' font size in one go
///
/// @access public
///
/// @param {int} $size [$base-font-size] - Size of font being passed in
@mixin font-size($size: $base-font-size, $bp: null) {
  @if ($bp != null) {
    @include mq($bp) {
      font-size: $size;
      font-size: $size / $base-font-size * 1rem;
    }
  } @else {
    font-size: $size;
    font-size: $size / $base-font-size * 1rem;
  }
}


/// Apply hover & focus at same time.
///
/// @access public
///
/// @param {boolean} $active [false] - Whether or not to apply styles to '.active'
@mixin hover($active: false) {
  @if($active == true) {
    &:hover,
    &:focus,
    &.active {
      @content;
    }
  } @else {
    &:hover,
    &:focus {
      @content;
    }
  }
}


/// Set bottom margin based on spacing unit
///
/// @access public
///
/// @param {int} $mult [1] - Integer to multiply base spacing unit by
///
/// @example scss
///   .block {
///     @include vr;
///   }
///
///   .block-2 {
///     @include vr(2);
///   }
@mixin vr($mult: 1, $bp: null) {
  @if ($bp != null) {
    @include mq($bp) {
      margin-bottom: su($mult);
    }
  } @else {
    margin-bottom: su($mult);
  }
}


/// Applies micro clearfix to elements
///
/// @access public
///
/// @example scss
///   .block {
///     @include clearfix;
///   }
@mixin clearfix() {
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
} 


/// Invisible from screen but visible to screen readers
///
/// @access public
@mixin visuallyhidden() {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  position: absolute !important;
  overflow: hidden !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
}


/// Style placeholder text in one swoop
///
/// @access public
///
/// @content [Placeholder styles]
@mixin placeholder($el: 'input') {
  #{$el}::-webkit-input-placeholder {
    @content;
  }
  #{$el}:-moz-placeholder { /* Firefox 18- */
    @content;
  }
  #{$el}::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }
  #{$el}:-ms-input-placeholder {  
    @content;
  }
}


/// Applies button styles
///
/// @param {String} $bg [color(primary)] - Background color of button, defaults to primary theme color
/// @param {String} $hover [color(primary-hover)] - Hover color of button, defaults to primary-hover theme color
@mixin btn($bg: color(primary), $hover: color(primary-hover)) {
  $base-button-height: 36px;
  $base-button-width: 88px;

  display: inline-block;
  min-width: $base-button-width;
  min-height: $base-button-height;
  background-color: $bg;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #fff;
  line-height: $base-button-height / $base-font-size;
  text-align: center;
  transition: .2s ease background-color, .2s ease color;

  &:hover {
    background-color: $hover;
  }
}


/// Apply different font families
///
/// @param {String} $key [roboto] - Key value of the `$fonts` var
/// @param {String} $type [regular] - The type of font, either regular, light, or bold
@mixin font($key: roboto, $type: regular) {
  @if map-has-key($fonts, $key) {
    $index: map-get($fonts, $key);
    $output: unquote(map-get($index, $type));

    .fonts-loaded & {
      font-family: $output;
      font-weight: normal;
    }
  } @else {
    @warn "There is no font #{$key}";
  }
}

/// Ouput a font weight from our Sass map
/// 
/// @param {String} $weight [light] - Key of our weight map
@mixin font-weight($weight: light) {
  @if map-has-key($font-weights, $weight) {
    $output: map-get($font-weights, $weight);
    font-weight: $output;
  } @else {
    @warn "There is no weight {$key}";
  }
}

/// Cover an area w/ absolute position. Requires a parent to have position relative
/// @param {Percent} $width [100%]
/// @param {Percent} $height [100%]
@mixin cover($width: 100%, $height: 100%) {
  position: absolute;
  top: 0;
  left: 0;
  width: $width;
  height: $height;
}

