/* ==========================================================================
   Mixins
   ========================================================================== */

/**
 * generic, global mixins
 *
 * these are basic mixins that power the stylesheets by default. feel free
 * to add / remove any as needed. more specific mixins can go in the
 * partials they effect
 */

/**
 * media query
 *
 * coincides with the breakpoint map in the base/_vars file
 * to use, simply include in your stylesheets
 * @EX
 *  @include mq(lap) { styles.... }
 */
@mixin mq($point) {
  $size: map-get($breakpoints, $point);

  @media all and (min-width: $size) {
    @content;
  }
}

/**
 * font size
 *
 * pass in a font size and convert to REM unit
 */
@mixin font-size($size: $font-size-base) {
  font-size: $size;
  font-size: $size/$font-size-base * 1rem;
}

/**
 * hover
 *
 * apply hover & focus at same time.
 * @param
 *   active - whether to also use active class
 */
@mixin hover($active: false) {
  @if($active == true) {
    &:hover,
    &:focus,
    &.active {
      @content;
    }
  } @else {
    &:hover,
    &:focus {
      @content;
    }
  }
}

/**
 * vertical rhythm
 *
 * we define this as a mixin so we avoid using @extends on unrelated 
 * elements.
 */
@mixin vr($size: $spacing-unit-base) {
  @if $size == $spacing-unit-base {
    margin-bottom: $spacing-unit-base;
  } @else {
    margin-bottom: $size * $spacing-unit-base;
  }
}

/**
 * clearfix
 */
@mixin clearfix() {
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
} 

/**
 * visually hidden
 *
 * invisible from screen but visible to screen readers
 */
@mixin visuallyhidden() {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  position: absolute;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/**
 * placeholder text
 */
@mixin placeholder() {
  ::-webkit-input-placeholder {
    @content;
  }

  :-moz-placeholder { /* Firefox 18- */
    @content;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  :-ms-input-placeholder {  
    @content;
  }
}