/**
 * @file
 * Gotham Sass variables
 *
 * Changing values and settings here will impact your CSS output. Use this
 * file to house any variables that are globally necessary. If you have
 * variables specific to certain partials, place them in those partials.
 */   



/**
 * Vendor
 */

// Normalize
$use-normalize: true;



/**
 * Responsive
 */

// Breakpoints
$breakpoints: (
  lap: 768px, 
  desk: 1024px,
);



/**
 * Layout
 */

// Global
$site-width: 1200px;

// Sticky Footer
$use-sticky-footer: false;
$footer-height: 150px;



/**
 * Typography
 */

// Base size and line height
$base-font-size: 16px;
$base-line-height: 24px;
$line-height-ratio: $base-line-height / $base-font-size;

// Headings
$h1-size: 36px;
$h2-size: 30px;
$h3-size: 24px;
$h4-size: 20px;
$h5-size: $base-font-size;
$h6-size: 12px;

// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;

// Font families */
$font-family-serif: Georgia, serif;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$base-font-family: $font-family-sans-serif;

// Vertical rhythm */
$base-spacing-unit: $base-line-height;



/**
 * Colors
 */
$colors: (
  grey: #ccc,
);



/**
 * Susy variables
 */

// Global
$susy: (
  columns: 12,
  gutters: 1/4,
);

// Custom layouts
$base-layout: layout(12 1/4);
$main-layout: layout($base-layout isolate);