/* ==========================================================================
   Gotham Sass variabes
   ========================================================================== */

/**
 * changing values and settings here will impact your CSS output. use this
 * file to house any variables that are globally necessary. if you have
 * variables specific to certain partials, place them in those partials.
 */   



/* Vendor
   ========================================================================== */

/* normalize */   
$use-normalize: true;



/* Responsive
   ========================================================================== */

/* breakpoints */
$breakpoints: (lap: 768px, desk: 1024px);



/* Layout
   ========================================================================== */

/* global layout */
$site-width: 1200px;

/* sticky footer */
$use-sticky-footer: false;
$footer-height: 150px;



/* Typography
   ========================================================================== */

/* base size and line height */
$base-font-size: 16px;
$base-line-height: 24px;
$line-height-ratio: $base-line-height / $base-font-size;

/* headings */
$h1-size: 36px;
$h2-size: 30px;
$h3-size: 24px;
$h4-size: 20px;
$h5-size: $base-font-size;
$h6-size: 12px;

/* font weights */
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;

/* font families */
$font-family-serif: Georgia, serif;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$base-font-family: $font-family-sans-serif;

/* vertical rhythm */
$base-spacing-unit: $base-line-height;



/* Susy variables
   ========================================================================== */

/* global susy variables */
$susy: (
  columns: 12,
  gutters: 1/4,
);

/* different susy layouts */
$main-layout: layout(12 1/4 isolate);