//
// @file
// Custom theme variables
//

//
// Layout

/// Site width
$site-width: 1400px;
/// Base spacing unit
$base-spacing-unit: 24px;
/// The height of the footer
$footer-height: 300px;
/// Where to use sticky footer or not
$use-sticky-footer: true;

//
// Grid
// We use Susy as a layout tool
/// The width of the gutter
$gutter-width: .15;

$susy: (
  columns: 12,
  gutter: $gutter-width,
);

$main-layout: layout(12 .15 isolate);

//
// Responsive
// We use Sass-MQ as a media query tool
$bp-lap: 630px;
$bp-desk: 1030px;
$bp-wide: 1200px;
$bp-full: $site-width;

$mq-responsive: true;

$mq-breakpoints: (
  lap: $bp-lap,
  desk: $bp-desk,
  wide: $bp-wide,
);

//
// Typography
$base-font-size: 16px !default;
$base-line-height: $base-spacing-unit !default;
$line-height-ratio: $base-line-height / $base-font-size;

//
// UI 

/// Primary site color
$color-primary: #2196f3;
$color-secondary: #ffeb3b;

$colors: (
  primary: $color-primary,
  secondary: $color-secondary,
);
