//
// @file
// Footer layout styles
//

@if $use-sticky-footer == true {
  /* Sticky footer */
  @include mq(lap) {
    .site {
      min-height: 100%;
      margin-bottom: -$footer-height;

      &:after {
        content: "";
        display: block;
      }     
    }
    
    .footer, .site:after { height: $footer-height; }
  }
}   