//
// @file
// Global layout
//


/* Site container */
.container {
  @include container;
}


/* Site logo */
.site-logo {
  @include mq(lap) {
    float: left;
  }
}


/* Site content + sidebar layout */
@include with-layout($main-layout) {
  @include mq(lap) {
    .layout-main-content {
      .sidebar-first & {
        @include span(8 at 5);
      }

      .sidebar-second & {
        @include span(8 first);
      }

      .two-sidebars & {
        @include span(6 at 4);
      }
    }

    .layout-sidebar-first {
      .one-sidebar & {
        @include span(4 first);
      }
      .two-sidebars & {
        @include span (3 first);
      }
    }

    .layout-sidebar-second {
      .one-sidebar & {
        @include span(4 last);
      }
      .two-sidebars & {
        @include span(3 last);
      }
    }
  }
}
