//
// @file
// Global layout
//

/* Site wrap */
.site-wrap {
  position: relative;
  
  @include mq(lap) {
    height: 100%;
  }
}

/* Site container */
.container {
  @include container;
  padding-right: $site-gutter--small;
  padding-left: $site-gutter--small;
  
  @include mq(lap) {
    padding-right: $site-gutter;
    padding-left: $site-gutter;
  }
}
