/**
 * @file
 * Navigation styles
 *
 * Holds the main nav styles, as well as any global navigation throughout
 * the site. more specific nav patterns can be their own components.
 */

// Nav element
.site-nav {
  @include mq(lap) {
    float: right;
  }
}

// Main nav
.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    @include mq(lap) {
      display: inline-block;
    }
  }
  
  a {
    display: block;
    padding: spacing-unit(1/4) spacing-unit(1/2);
  }
}