//
// @file
// Navigation styles
//
// Holds the main nav styles, as well as any global navigation throughout
// the site. More specific nav patterns can be their own components.
//


/* Nav element */
.site-nav {
  position: absolute;
  top: $header-height;
  left: 0;
  background-color: palette(Grey, 300);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 100ms ease transform;

  @include mq(lap) {
    position: static;
    width: auto;
    float: right;
    padding: 23px 0;
    box-shadow: none;
    background-color: transparent;
    transform: scaleY(1);
  }

  #site-header:target &,
  .menu-open & {
    transform: scaleY(1);
  }
}

/* menu toggle */
.menu-toggle {
  float: right;
  height: 48px;
  padding: 12px;
  text-align: center;
  transition: 100ms ease all;

  .menu-open & {
    transform: rotate(90deg);
  }

  @include mq(lap) {
    display: none;
  }

  .icon-menu {
    fill: #fff;
  } 
}

.menu-toggle-text {
  @include font-size(12px);
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: top;
}

.menu-toggle-open {
  #site-header:target & {
    display: none;
  }
}

.menu-toggle-close {
  display: none;

  #site-header:target & {
    display: block;
  }
}

/* Main nav */
.main-nav {
  margin: 0;
  padding: 0 16px;
  list-style: none;

  @include mq(lap) {
    padding: 0;
  }

  li {
    @include mq(lap) {
      display: inline-block;
    }
  }
  
  a {
    display: block;
    color: palette(Grey, 900);
    line-height: 48px;

    @include mq(lap) {
      padding: 0 su(.5);
      color: #fff;
      line-height: 1;
    }
  }
}
