//
// @file
// Navigation styles
//
// Holds the main nav styles, as well as any global navigation throughout
// the site. more specific nav patterns can be their own components.
//


/* Nav element */
.site-nav {
  clear: both;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);

  @include mq(lap) {
    padding: 23px 0;
    float: right;
    clear: none;
    box-shadow: none;
  }

  .js & {
    position: absolute;
    top: 56px;
    bottom: 0;
    right: 100%;
    width: 82.5%;
    width: calc(100% - 56px);
    max-width: 320px;
    //background-color: #fff;
    background-color: palette(Grey, 300);
    transition: .2s ease transform;

    @include mq(lap) {
      position: static;
      width: auto;
      max-width: none;
      background-color: transparent;
      transform: translate(0, 0);
    }
  }

  .js .menu-open & {
    transform: translate(100%, 0);

    @include mq(lap) {
      max-width: none;
      transform: translate(0, 0); 
    }
  }
}

/* menu toggle */
.menu-toggle {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  padding: 12px;
  text-align: center;
  transition: .2s ease all;

  .menu-open & {
    transform: rotate(90deg);
  }

  @include mq(lap) {
    display: none;
  }
}

/* Main nav */
.main-nav {
  margin: 0;
  padding: 0 16px;
  list-style: none;

  @include mq(lap) {
    padding: 0;
  }

  li {
    @include mq(lap) {
      display: inline-block;
    }
  }
  
  a {
    display: block;
    color: palette(Grey, 900);
    line-height: 48px;

    @include mq(lap) {
      padding: 0 su(.5);
      color: #fff;
      line-height: 1;
    }
  }
}