//
// @file
// Navigation styles
//
// Holds the main nav styles, as well as any global navigation throughout
// the site. more specific nav patterns can be their own components.
//


/* Nav element */
.site-nav {
  clear: both;

  .js & {
    position: absolute;
    top: 56px;
    bottom: 0;
    right: 100%;
    width: 82.5%;
    width: calc(100% - 56px);
    background-color: palette(Grey, 900);
    transition: .2s ease all;

    @include mq(lap) {
      position: static;
      width: auto;
      transform: translate(0, 0);
    }
  }

  .js .menu-open & {
    transform: translate(100%, 0);

    @include mq(lap) {
     transform: translate(0, 0); 
    }
  }

  @include mq(lap) {
    padding: 23px 0;
    float: right;
    clear: none;
  }
}

/* menu toggle */
.menu-toggle {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  padding: 12px;
  text-align: center;

  @include mq(lap) {
    display: none;
  }
}

/* Main nav */
.main-nav {
  margin: 0;
  padding: 0 16px;
  list-style: none;

  @include mq(lap) {
    padding: 0;
  }

  li {
    @include mq(lap) {
      display: inline-block;
    }
  }
  
  a {
    display: block;
    color: #fff;
    line-height: 48px;

    @include mq(lap) {
      padding: 0 su(.5);
      line-height: 1;
    }
  }
}