/**
 * @file
 * Footer layout styles
 */
.footer {
  padding: su() 0;
  background-color: color(med-grey);
}

@if $use-sticky-footer == true {
  @include mq(desk) {
    .site {
      min-height: 100%;
      margin-bottom: -$footer-height;

      &:after {
        display: block;
        content: '';
      }
    }

    .footer,
    .site:after {
      height: $footer-height;
    }
  }
}
