/**
 * @file
 * Global layout styles
 */
.site-main {
  margin-bottom: su();
}

.layout-container {
  @include clearfix;
  width: 90%;
  max-width: $site-width;
  margin-right: auto;
  margin-left: auto;
}
